/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/frontend/innyx/node_modules
# Logs
/frontend/innyx/logs
/frontend/innyx/*.log
/frontend/innyx/npm-debug.log*
/frontend/innyx/yarn-debug.log*
/frontend/innyx/yarn-error.log*
/frontend/innyx/pnpm-debug.log*
/frontend/innyx/lerna-debug.log*


/frontend/innyx/.DS_Store
/frontend/innyx/dist
/frontend/innyx/dist-ssr
/frontend/innyx/coverage
/frontend/innyx/*.local

/frontend/innyx/cypress/videos/
/frontend/innyx/cypress/screenshots/

# Editor directories and files
/frontend/innyx/.vscode
/frontend/innyx/.vscode/*
/frontend/innyx/!.vscode/extensions.json
/frontend/innyx/.env
/frontend/innyx/.idea
/frontend/innyx/*.suo
/frontend/innyx/*.ntvs*
/frontend/innyx/*.njsproj
/frontend/innyx/*.sln
/frontend/innyx/*.sw?
